<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>17D102</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>CPUFriend</string>
	<key>CFBundleIdentifier</key>
	<string>org.vanilla.driver.CPUFriend</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>CPUFriend</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.7</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.1.7</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>9F2000</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>17E189</string>
	<key>DTSDKName</key>
	<string>macosx10.13</string>
	<key>DTXcode</key>
	<string>0941</string>
	<key>DTXcodeBuild</key>
	<string>9F2000</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>CPUFriend</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.vanilla.driver.CPUFriend</string>
			<key>IOClass</key>
			<string>CPUFriend</string>
			<key>IOMatchCategory</key>
			<string>CPUFriend</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
		<key>CPUFriendDataProvider</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleACPIPlatform</string>
			<key>IOClass</key>
			<string>AppleACPICPU</string>
			<key>IONameMatch</key>
			<string>processor</string>
			<key>IOProbeScore</key>
			<integer>1100</integer>
			<key>IOProviderClass</key>
			<string>IOACPIPlatformDevice</string>
			<key>cf-frequency-data</key>
			<data>
			PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4K
			PCFET0NUWVBFIHBsaXN0IFBVQkxJQyAiLS8vQXBwbGUvL0RURCBQ
			TElTVCAxLjAvL0VOIiAiaHR0cDovL3d3dy5hcHBsZS5jb20vRFRE
			cy9Qcm9wZXJ0eUxpc3QtMS4wLmR0ZCI+CjxwbGlzdCB2ZXJzaW9u
			PSIxLjAiPgo8ZGljdD4KCTxrZXk+SU9QbGF0Zm9ybVBvd2VyUHJv
			ZmlsZTwva2V5PgoJPGRpY3Q+CgkJPGtleT5Cb29zdExpbWl0PC9r
			ZXk+CgkJPGludGVnZXI+MDwvaW50ZWdlcj4KCQk8a2V5PkNQVUZs
			b29yPC9rZXk+CgkJPGludGVnZXI+MTAwMDwvaW50ZWdlcj4KCQk8
			a2V5PkRORFdoaWxlRGlzcGxheVNsZWVwczwva2V5PgoJCTxmYWxz
			ZS8+CgkJPGtleT5EYXJrV2FrZVNlcnZpY2VzPC9rZXk+CgkJPGRp
			Y3Q+CgkJCTxrZXk+RGFya1dha2VCYWNrZ3JvdW5kVGFza3M8L2tl
			eT4KCQkJPGludGVnZXI+MTwvaW50ZWdlcj4KCQkJPGtleT5TbGVl
			cFNlcnZpY2VzPC9rZXk+CgkJCTxpbnRlZ2VyPjc8L2ludGVnZXI+
			CgkJCTxrZXk+U2xlZXBTZXJ2aWNlc01vZGVzPC9rZXk+CgkJCTxk
			aWN0PgoJCQkJPGtleT5Nb2RlQTwva2V5PgoJCQkJPGRpY3Q+CgkJ
			CQkJPGtleT5CYXNlSW50ZXJ2YWxzPC9rZXk+CgkJCQkJPGRpY3Q+
			CgkJCQkJCTxrZXk+QUM8L2tleT4KCQkJCQkJPGRpY3Q+CgkJCQkJ
			CQk8a2V5PkJhc2VTbGVlcEludGVydmFsPC9rZXk+CgkJCQkJCQk8
			aW50ZWdlcj4zNjAwPC9pbnRlZ2VyPgoJCQkJCQkJPGtleT5CYXNl
			V2FrZUNhcEludGVydmFsPC9rZXk+CgkJCQkJCQk8aW50ZWdlcj44
			NjQwMDwvaW50ZWdlcj4KCQkJCQkJPC9kaWN0PgoJCQkJCQk8a2V5
			PkJhdHRlcnk8L2tleT4KCQkJCQkJPGRpY3Q+CgkJCQkJCQk8a2V5
			PkJhc2VTbGVlcEludGVydmFsPC9rZXk+CgkJCQkJCQk8aW50ZWdl
			cj4zNjAwPC9pbnRlZ2VyPgoJCQkJCQkJPGtleT5CYXNlV2FrZUNh
			cEludGVydmFsPC9rZXk+CgkJCQkJCQk8aW50ZWdlcj4xODA8L2lu
			dGVnZXI+CgkJCQkJCTwvZGljdD4KCQkJCQk8L2RpY3Q+CgkJCQkJ
			PGtleT5CYXR0ZXJ5Rmxvb3I8L2tleT4KCQkJCQk8aW50ZWdlcj4w
			PC9pbnRlZ2VyPgoJCQkJCTxrZXk+RXhwaXJhdGlvbjwva2V5PgoJ
			CQkJCTxpbnRlZ2VyPjA8L2ludGVnZXI+CgkJCQk8L2RpY3Q+CgkJ
			CTwvZGljdD4KCQk8L2RpY3Q+CgkJPGtleT5GcmVxdWVuY3lWZWN0
			b3JzPC9rZXk+CgkJPGFycmF5PgoJCQk8ZGF0YT4KCQkJQWdBQUFB
			Z0FBQUFCQUFBQUFBQUFBTGdMQUFBQUFBQUF5QUFBQUFBQUFBQUFa
			T2dEQUFBQQoJCQlBQUFBQUV2UUJ3QUFBQUFBQUFBeS8vLy8vLy8v
			RHdBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQXdBQUFBQkFBQUFBQUFBCgkJ
			CUFMZ0xBQUFBQUFBQXlBQUFBQUFBQUFBQlpPZ0RBQUFBQUFBQUFV
			dlFCd0FBQUFBQUFBRXkKCQkJdUFzQUFBQUFBQUFBR2FBUEFBQUFB
			QUFBQUFELy8vLy8vLzhQQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFB
			QUFBQUFBQUFCQUFBQUFCQUFBQUFBQUFBS3dOQUFBQUFBQUF5QUFB
			QUFBQQoJCQlBQUFDWlBRQkFBQUFBQUFBQWpMb0F3QUFBQUFBQUFJ
			WjNBVUFBQUFBQUFBQk10QUhBQUFBCgkJCUFBQUFBUm00Q3dBQUFB
			QUFBQUF5b0E4QUFBQUFBQUFBR2YvLy8vLy8vdzhBQUFBQUFBQUEK
			CQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQlFBCgkJCUFB
			QUJBQUFBQUFBQUFKUVJBQUFBQUFBQXlBQUFBQUFBQUFBRFpQUUJB
			QUFBQUFBQUF6TG8KCQkJQXdBQUFBQUFBQU1aMEFjQUFBQUFBQUFD
			TXJnTEFBQUFBQUFBQWhtZ0R3QUFBQUFBQUFFeQoJCQkvLy8vLy8v
			L0R3QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFCZ0FBQUFCQUFBQUFBQUFBSWdUQUFB
			QQoJCQlBQUFBeUFBQUFBQUFBQUFFWlBRQkFBQUFBQUFBQkRMb0F3
			QUFBQUFBQUFRWjNBVUFBQUFBCgkJCUFBQURTOUFIQUFBQUFBQUFB
			eks0Q3dBQUFBQUFBQUl5b0E4QUFBQUFBQUFDR2YvLy8vLy8KCQkJ
			L3c4QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFB
			QUFBQUJ3QUFBQUJBQUFBQUFBQUFIQVhBQUFBQUFBQXlBQUFBQUFB
			QUFBRlpQUUIKCQkJQUFBQUFBQUFCVExvQXdBQUFBQUFBQVVaM0FV
			QUFBQUFBQUFFUzlBSEFBQUFBQUFBQkRLNAoJCQlDd0FBQUFBQUFB
			TXlvQThBQUFBQUFBQURHWlFSQUFBQUFBQUFBakwvLy8vLy8vOFBB
			QUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFHUUFBQUFEQUFBQQoJ
			CQlBQUFBQUtDR0FRQUFBQUFBeUFBQUFBQUFBQUFHTXZRQkFBQUFB
			QUFBQmhub0F3QUFBQUFBCgkJCUFBVXkzQVVBQUFBQUFBQUZHZEFI
			QUFBQUFBQUFCREs0Q3dBQUFBQUFBQVFab0E4QUFBQUEKCQkJQUFB
			RUFKUVJBQUFBQUFBQUF3RC8vLy8vLy84UEFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QS8vLy8KCQkJLy8vL0R3QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			CgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJ
			CUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEK
			CQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJ
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJ
			CQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			CgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJ
			CUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEK
			CQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJ
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJ
			CQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			CgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJ
			CUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEK
			CQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJ
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJ
			CQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFF
			SkJRMHRIVWs5VgoJCQlUa1FBQUFBQUFBQUFBR1FBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFD
			UVVrVkIKCQkJVEZSSlRVVmZVMGhQVWxRQUFBUUdBQUFBQUFBQUFB
			QVpBQmtBWkFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			CgkJCUFBQkxSVkpPUlV3QUFBQUFBQUFBQUFBQUFBWmtBR1FBWkFC
			OUFKWUFyd0RJQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlB
			QUFBQUFBQWtGUklVbFZmVkVsRlVqSUFBQUFBQUFBQUJHUUF5QURJ
			QU1nQXlBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFB
			QUFBQUFBQUFDUVZFaFNWVjlVU1VWU013QUFBQUFBQUFBRVpBRElB
			TWdBeUFESQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUpCVVNGSlZYMVJKUlZJMEFBQUFBQUFBQUFISUFN
			Z0EKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBa0ZSSVVsVmZWRWxGVWpVQUFBQUFBQUFBCgkJ
			CUFXUUFaQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUNRQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEK
			CQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJ
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQWRYUnBi
			R2wwCgkJCWVTMTBiSFpzQUFBQUFBQUFBQUJBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFibTl1TFdadlkyRnMKCQkJTFhSc2Rtd0FBQUFBQUFE
			N0FBQUFBQUFBQUFBQUFBQUFBQUFBZFdKd1l3QUFBQUFBQUFBQQoJ
			CQlBQUFBQUFFQUFBQnZabVlBQUFBQUFBQUFBQUFBQUFBQWFIZHdB
			QUFBQUFBQUFBQUFBQUFBCgkJCUFBRUFBQUJ2YmdBQUFBQUFBQUFB
			QUFBQUFBQUFaWEJ3QUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFD
			UUFBQUFBQUFBQUFBQUFBQUFBQUFBY0dWeVppMWlhV0Z6QUFBQUFB
			QUFBQUFBQUFBRgoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQWNtRjBh
			Vzl5WVhSbGJHbHRhWFFBQUFBQUFBREF4aTBBCgkJCUFBQUFBQUFB
			QUFBQUFBQUFhVzlqYzE5bGJtZGhaMlVBQUFBQUFBQUFBQUNBaEI0
			QUFBQUEKCQkJQUFBQUFBQUFBQUFBYVc5amMxOWthWE5sYm1kaFoy
			VUFBQUFBQUFBQUNUMEFBQUFBQUFBQQoJCQlBQUFBQUFBQWFXOWpj
			MTlqYzNSbWJISUFBQUFBQUFBQUFBQUlBQUFBQUFBQUFBQUFBQUFB
			CgkJCUFBQUFhVzlqYzE5eWRISnBaMmRsY2dBQUFBQUFBQUJrQUFB
			QUFBQUFBQUFBQUFBQUFBQUEKCQkJYVc5ZlpYQndYMkp2YjNOMEFB
			QUFBQUFBQUFBZ0FBQUFBQUFBQUFBQUFBQUFBQUFBYVc5ZgoJCQlh
			R2x1ZEhNQUFBQUFBQUFBQUFBQUFBQURBQUFBQUFBQUFBQUFBQUFB
			QUFBQWFXOWZZMjl5CgkJCVpWOWpjM1JmYkdsdEFBQUFBQUFEQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQQoJCQk8L2RhdGE+CgkJPC9hcnJheT4KCQk8a2V5PklPUGxh
			dGZvcm1TeXN0ZW1TbGVlcFBvbGljeTwva2V5PgoJCTxkYXRhPgoJ
			CVUweFFWQUlBQ2dBSUFBQUFDQUFBQUFBQUFBQUFBQUFBQlFBQUFB
			QUFBQUFGQVFBQUFRQUFBQUFBUUFBQQoJCUFFQUFBQUFRQUFBQUVB
			QUhBQUFBQUFBQUFBL2Rod0VBQUFBQUlBQUFBQ0FBQUFBQUFBQUFB
			QUFBQUFVQQoJCUFBQUFBQUFBRDkySEFRQUFBQURFRmdBQUFBQUFB
			QWdBQUFBSUFBQUFCUUFBQUFBQUFBQVAzWWNCQUFBQQoJCUFNUVdF
			QUFBQUJBQUlFQUFBQ0JBQUFBSEFBQUFDQUFBQUEvZGh3RUFBQUFB
			eEJZQUFBQUFBQUFnQUFBQQoJCUlBQUFBQVVBQUFBQUFBQUFEOTJI
			QVFBQUFBREVGZ0FBQUFBQUFBaUFBQUFJZ0FBQUJRQUFBQUFBQUFB
			UAoJCTNZY0JBQUFBQU1RV0FBQUFBQUFBQU1BQUFBREFBQUFIQUFB
			QUNBQUFBQS9kaHdFQUFBQUF4QllBQUFBQQoJCUFBQUFBQUFBQUFB
			QUFBY0FBQUFCQUFBQUQ5MkhBUUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQndBQQoJCUFBQUFBQUFQM1ljQkFBQUFBQT09CgkJPC9k
			YXRhPgoJCTxrZXk+TmV0d29ya1RpbWVyRGVsYXk8L2tleT4KCQk8
			aW50ZWdlcj45MDA8L2ludGVnZXI+CgkJPGtleT5Ob3RpZmljYXRp
			b25XYWtlPC9rZXk+CgkJPHRydWUvPgoJCTxrZXk+UHVibGlzaEJh
			dHRlcnlGYWN0b3JzPC9rZXk+CgkJPHRydWUvPgoJCTxrZXk+U3Rh
			bmRieUJhdHRlcnlUaHJlc2hvbGQ8L2tleT4KCQk8aW50ZWdlcj41
			MDwvaW50ZWdlcj4KCQk8a2V5PlN0YW5kYnlEZWxheTwva2V5PgoJ
			CTxpbnRlZ2VyPjEwODAwPC9pbnRlZ2VyPgoJCTxrZXk+U3RhbmRi
			eURlbGF5SGlnaDwva2V5PgoJCTxpbnRlZ2VyPjg2NDAwPC9pbnRl
			Z2VyPgoJCTxrZXk+VENQS2VlcEFsaXZlRHVyaW5nU2xlZXA8L2tl
			eT4KCQk8dHJ1ZS8+CgkJPGtleT5UQ1BLZWVwQWxpdmVFeHBpcmF0
			aW9uVGltZW91dDwva2V5PgoJCTxpbnRlZ2VyPjQzMjAwPC9pbnRl
			Z2VyPgoJCTxrZXk+VGhlcm1hbENvbmZpZ3VyYXRpb248L2tleT4K
			CQk8ZGljdD4KCQkJPGtleT5Eb21haW48L2tleT4KCQkJPGRpY3Q+
			CgkJCQk8a2V5PkNQVTwva2V5PgoJCQkJPGRpY3Q+CgkJCQkJPGtl
			eT5RT1NUaGVybWFsVGhyZXNob2xkczwva2V5PgoJCQkJCTxkaWN0
			PgoJCQkJCQk8a2V5Pk5vbkZvY2FsPC9rZXk+CgkJCQkJCTxpbnRl
			Z2VyPjI1MTwvaW50ZWdlcj4KCQkJCQkJPGtleT5VdGlsaXR5PC9r
			ZXk+CgkJCQkJCTxpbnRlZ2VyPjY0PC9pbnRlZ2VyPgoJCQkJCTwv
			ZGljdD4KCQkJCQk8a2V5PlNGSUFwcE5hcDwva2V5PgoJCQkJCTxk
			aWN0PgoJCQkJCQk8a2V5PkVmZm9ydEN1cnZlPC9rZXk+CgkJCQkJ
			CTxzdHJpbmc+NDA9MCUsNzI9NjclPC9zdHJpbmc+CgkJCQkJPC9k
			aWN0PgoJCQkJCTxrZXk+U0ZJRGFyd2luQkc8L2tleT4KCQkJCQk8
			ZGljdD4KCQkJCQkJPGtleT5FZmZvcnRDdXJ2ZTwva2V5PgoJCQkJ
			CQk8c3RyaW5nPjQwPTAlLDY0PTUwJSw3Mj02NyU8L3N0cmluZz4K
			CQkJCQk8L2RpY3Q+CgkJCQkJPGtleT5TRklNYWludGVuYW5jZTwv
			a2V5PgoJCQkJCTxkaWN0PgoJCQkJCQk8a2V5PkVmZm9ydEN1cnZl
			PC9rZXk+CgkJCQkJCTxzdHJpbmc+NDA9MCUsNjQ9NTAlLDcyPTY3
			JTwvc3RyaW5nPgoJCQkJCTwvZGljdD4KCQkJCQk8a2V5PlNGSVdp
			bmRvdzwva2V5PgoJCQkJCTxpbnRlZ2VyPjUwMDAwPC9pbnRlZ2Vy
			PgoJCQkJCTxrZXk+VGhlcm1hbFByZXNzdXJlPC9rZXk+CgkJCQkJ
			PGRpY3Q+CgkJCQkJCTxrZXk+SGVhdnk8L2tleT4KCQkJCQkJPGRp
			Y3Q+CgkJCQkJCQk8a2V5PkhpZ2hUaHJlc2hvbGQ8L2tleT4KCQkJ
			CQkJCTxpbnRlZ2VyPjIwMDwvaW50ZWdlcj4KCQkJCQkJCTxrZXk+
			TG93VGhyZXNob2xkPC9rZXk+CgkJCQkJCQk8aW50ZWdlcj45MDwv
			aW50ZWdlcj4KCQkJCQkJPC9kaWN0PgoJCQkJCQk8a2V5Pk1vZGVy
			YXRlPC9rZXk+CgkJCQkJCTxkaWN0PgoJCQkJCQkJPGtleT5IaWdo
			VGhyZXNob2xkPC9rZXk+CgkJCQkJCQk8aW50ZWdlcj4xMDA8L2lu
			dGVnZXI+CgkJCQkJCQk8a2V5Pkxvd1RocmVzaG9sZDwva2V5PgoJ
			CQkJCQkJPGludGVnZXI+NTA8L2ludGVnZXI+CgkJCQkJCTwvZGlj
			dD4KCQkJCQkJPGtleT5Ob21pbmFsPC9rZXk+CgkJCQkJCTxkaWN0
			PgoJCQkJCQkJPGtleT5IaWdoVGhyZXNob2xkPC9rZXk+CgkJCQkJ
			CQk8aW50ZWdlcj42MjwvaW50ZWdlcj4KCQkJCQkJCTxrZXk+TG93
			VGhyZXNob2xkPC9rZXk+CgkJCQkJCQk8aW50ZWdlcj4wPC9pbnRl
			Z2VyPgoJCQkJCQk8L2RpY3Q+CgkJCQkJCTxrZXk+U2xlZXBpbmc8
			L2tleT4KCQkJCQkJPGRpY3Q+CgkJCQkJCQk8a2V5PkhpZ2hUaHJl
			c2hvbGQ8L2tleT4KCQkJCQkJCTxpbnRlZ2VyPjI1MjwvaW50ZWdl
			cj4KCQkJCQkJCTxrZXk+TG93VGhyZXNob2xkPC9rZXk+CgkJCQkJ
			CQk8aW50ZWdlcj4yNTE8L2ludGVnZXI+CgkJCQkJCTwvZGljdD4K
			CQkJCQkJPGtleT5UcmFwcGluZzwva2V5PgoJCQkJCQk8ZGljdD4K
			CQkJCQkJCTxrZXk+SGlnaFRocmVzaG9sZDwva2V5PgoJCQkJCQkJ
			PGludGVnZXI+MjUwPC9pbnRlZ2VyPgoJCQkJCQkJPGtleT5Mb3dU
			aHJlc2hvbGQ8L2tleT4KCQkJCQkJCTxpbnRlZ2VyPjE3MDwvaW50
			ZWdlcj4KCQkJCQkJPC9kaWN0PgoJCQkJCTwvZGljdD4KCQkJCTwv
			ZGljdD4KCQkJCTxrZXk+R1BVPC9rZXk+CgkJCQk8ZGljdC8+CgkJ
			CQk8a2V5PklPPC9rZXk+CgkJCQk8ZGljdC8+CgkJCTwvZGljdD4K
			CQk8L2RpY3Q+CgkJPGtleT5VbmlmaWVkU2xlZXBTbGlkZXJQcmVm
			PC9rZXk+CgkJPHRydWUvPgoJPC9kaWN0PgoJPGtleT5wbXNwRmls
			ZTwva2V5PgoJPGludGVnZXI+MTM8L2ludGVnZXI+CjwvZGljdD4K
			PC9wbGlzdD4K
			</data>
		</dict>
		<key>CPUFriendPlatform</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.vanilla.driver.CPUFriend</string>
			<key>IOClass</key>
			<string>CPUFriendData</string>
			<key>IOProbeScore</key>
			<integer>6000</integer>
			<key>IOPropertyMatch</key>
			<dict>
				<key>IOCPUNumber</key>
				<integer>0</integer>
			</dict>
			<key>IOProviderClass</key>
			<string>AppleACPICPU</string>
			<key>IOResourceMatch</key>
			<string>ACPI</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 - 2019 PMheart. All rights reserved.</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>as.vit9696.Lilu</key>
		<string>1.2.0</string>
		<key>com.apple.iokit.IOACPIFamily</key>
		<string>1.0.0d1</string>
		<key>com.apple.kpi.bsd</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.dsep</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>12.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
